* { 
    box-sizing: border-box;
} 

h1 { 
    font-size: 55px;
    display: inline;
    align-content: center;
}

h2 { 
    font-size: 35px;

}
/* styling for entire webpage;fonts flex and background colors*/
body { 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20;
    display: flex;
    flex-direction: column; 
    background-color: lightslategrey; 
    color: #fff;
    line-height: 1.6em;

} 

/* Name, and nav links styling*/
header { 
    padding: 40px;
  text-align:left;
    background-color: #333; 
    white-space: normal; 
    float: left; 
    display: block; 
    


}  

footer { 
    background-color: #333;
}

/* paragraph in about me section*/ 
p { 
    background-color: rgb(77, 53, 50);
    text-align: center; 
    margin-left: 50px; 
    margin-right: 50px; 
    border-radius: 10px;
}
/*image in header*/ 
.prof { 
    width: 15%; 
    height: 15%; 
    border: 10px solid black;
    display: block; 
    

    } 
/* needed to move this section header left for some reason */
.work { 
    margin-left: 0%;
}
/* first image in work, needs to be bigger */ 
.box-1 { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left; 
    padding: 40px;
    border: #333;
    border-radius: 50px;
    width: 55%;
    height: 55%; 
    background-color: antiquewhite;

}
/* rest of the images in Work section*/
.box-2 { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left; 
    padding: 40px;
    border: #333;
    border-radius: 100px; 
    background-color: bisque;
   
   
}




@media screen and (max-width: 992px) {
    .box-2 {
      width: 75%;
    } 
} 

@media screen and (max-width: 769px) {
    .box-2 { 
        width: 50%
    }
}